* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    background-color: #f3f3f3;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.dark-mode, html.-dark-mode {
   background-color: #272626;
    color: #ffffff; /* texto claro */
}
.container {
    display: flex;
    padding: 20px;
    gap: 5%;
    flex: 1;
    min-height: 50vh;
    
}

body.dark-mode .container {
    background-color: #272626;
}
.lista {
    width: 30%;
    background: #abc7e8;
    padding: 30px;
    border-radius: 8px;   
    height: 80%;
    
}

body.dark-mode .lista {
    background-color: #6b0f0f;
    color: #ffffff;
}

.lista h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.pesquisa {
    margin-bottom: 20px;
}

.pesquisa input {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

.lista ul {
    list-style: none;
    overflow-y: auto;  
    flex: 1; 
    padding-right: 10px;
    max-height: 80%;
}

.lista ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}


.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.secao {
    margin-bottom: 30px;
}

.secao h3 {
    text-align: center;
    margin-bottom: 10px;
}

.box {
    background-color: #a9c4e6;
    height: 200px;
    border-radius: 8px;
    padding: 15px;
}
.box ul{
    list-style: none;
    overflow-y: auto;  
    flex: 1; 
    padding-right: 10px;
    max-height: 200px;
}

body.dark-mode .box {
    background-color: #6b0f0f;
    color: #ffffff;
}
.box.extra {
    list-style: none;
    overflow-y: auto;  
    flex: 1; 
    padding-right: 10px;
    max-height: 200px;
}


.box.extra p {
    margin-bottom: 12px;
}

footer{
    margin-top: auto;
}

.item{
    cursor: pointer;
}

.item:hover{
    color: rgb(255, 255, 255);
}

.dark-mode .item:hover{
    color: #837c7c;
}
