@font-face {
    font-family: 'font-galaxy';
    src: url('../src/font/SF\ Distant\ Galaxy.ttf');
}

@font-face {
    font-family: 'serifgothic';
    src: url('../src/font/ITC\ SerifGothic.ttf');
}

@font-face {
    font-family: 'serifgothic-bold';
    src: url('../src/font/ITC\ SerifGothicBold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.dark-mode,
html.-dark-mode {
    background-color: #272626;
    color: #ffffff;
    /* texto claro */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

body.dark-mode main {
    background-color: #272626;
}

h2 {
    font-family: 'serifgothic';
    letter-spacing: 2px;
}

.barra-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    margin-top: 2vw;

    input {
        margin-top: 15px;
        font-family: 'serifgothic-bold';
        font-size: 18px;
        padding: 8px;
        width: 50%;
        border: none;
        background-color: #c3d8f1;
        border-radius: 4px;
        outline: none;
    }
}

body.dark-mode .barra-pesquisa input {
    background-color: #ffffff;
}


body.dark-mode .catalogo {
    background-color: #5e0505;
}

.container-listas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.catalogo {
    background-color: #c3d8f1;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    padding: 10px;
    font-size: 2.5vh;
    font-family: 'serifgothic-bold';
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.catalogo:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.info-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'serifgothic';
    color: #000000;
    font-size: 2vh;
}

body.dark-mode .info-card {
    color: #ffffff;
}


footer {
    margin: 0;
}

ul {
    margin: 0;
}



.modal-body {
    li {
        list-style-type: none;
    }
}

.modal-content {
    background-color: #ffffff;
    color: black;
    font-family: 'serifgothic';

    h5,
    strong {
        font-family: 'serifgothic-bold';
        font-size: 2vh;
    }
}



footer {
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.footer-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.footer-lista li a {
    text-decoration: none;
    color: inherit;
    font-family: 'serifgothic';
}

body.dark-mode .modal-content {
    background-color: #272626;
    color: white;

    hr {
        border: none;
        height: 2px;
        background-color: white;
    }
}

body.dark-mode .btn-close {
    filter: invert(1);
}

@media (max-width: 1024px) {
    .catalogo {
        width: calc(50% - 20px);
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .footer-lista {
        flex-direction: column;
        gap: 1rem;
    }

    .modal-body .info-card {
        font-size: 1.6vh;
    }

    .barra-pesquisa input {
        width: 80%;
    }
}


@media (max-width: 400px) {
    .catalogo {
        width: 90%;
        font-size: 3vh;
        padding: 15px;
    }

    .info-card {
        font-size: 2.2vh;
    }
}