@font-face {
    font-family: 'font-galaxy';
    src: url('../src/font/SF Distant Galaxy.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    font-family: 'font-galaxy';
}

body.dark-mode .footer{
    background-color: #272626;
    color: white;
}

.footer p {
    margin: 0;
}

.footer-lista {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-right: 0;
    flex-wrap: wrap;
    font-family: 'font-galaxy';
}

.footer-lista li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

body.dark-mode .footer-lista li a {
    color: rgb(255, 255, 255);
}

.footer-lista li a:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-lista {
        justify-content: center;
        gap: 12px;
    }
}