@font-face {
    font-family: 'font-galaxy';
    src: url('../src/font/SF Distant Galaxy.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'font-galaxy';
    overflow: hidden; /* impede scroll dentro do iframe */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background-color: black;
    color: white;
    width: 100%;
    flex-wrap: wrap;
}

.footer p {
    margin: 0;
}

.footer-lista {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.footer-lista li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.footer-lista li a:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-lista {
        justify-content: center;
        gap: 12px;
    }
}