@font-face {
    font-family: 'font-galaxy';
    src: url('../src/font/SF\ Distant\ Galaxy.ttf');
}
body {
  margin: 0;
  overflow: hidden;
}

header::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.7'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: -1;
  mix-blend-mode: normal;
}

header::after {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse at center 80%,
    rgba(90, 129, 230, 0.3) 0%,
    transparent 60%
  );
  pointer-events: none;
  z-index: -1;
  mix-blend-mode: normal;
}


.header-cima {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
    min-height: 20vh;
}
.center-logo{
    margin-top: 10px;
}
.left-space {
    width: 30%;
}

.logo-star {
    width: 30%;
}

.dark-button {
    background: transparent;
    border: none;
}

.logo-dark {
  width: 50%;
  transform: translateY(40%);
}
.header-menu {
    width: 100%;
    padding: 1.5vh 2vw;
}
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-item .nav-link {
    color: #353434;
    font-family: 'font-galaxy';
}
.nav-item{
    padding: 0px 15px;
}