body {
    background-color: white;
    overflow-x: hidden;
    margin: 0;
}

@font-face {
    font-family: 'font-galaxy';
    src: url('../src/font/SF\ Distant\ Galaxy.ttf');
}


@font-face{
  font-family: 'serifgothic';
  src: url('../src/font/ITC\ SerifGothic.ttf');
}
@font-face{
  font-family: 'serifgothic-bold';
  src: url('../src/font/ITC\ SerifGothicBold.ttf');
}

body.dark-mode {
  background-color: #272626; /* fundo escuro */
  color: #ffffff; /* texto claro */
}

.faixa-principal {
    background-image: url('../src/img/AnakinCapa.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40rem;
    outline: 2px solid #6ca5f0;
}

body.dark-mode .faixa-principal {
  background-image: url('../src/img/DarthVaderCapa.png');
  outline: 2px solid #6b0f0f;
  margin-top: -5px;
}

.introducao-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 10px 10px;
    border-radius: 10px;
    color: black;
    background-color: #c3d8f1;
    
    h3{
      font-family: 'serifgothic-bold';
    }
    
    h1{
      font-weight: lighter;
      margin-top: 5px;
      font-family: 'font-galaxy';
    }
    
}

body.dark-mode .introducao-principal h3{
      margin-top: -5px;
}

.introducao-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
  .simbolo{
    align-items: center;
    justify-content: center;
    background-image: url('../src/img/simbolojedi.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 11vh;
    height: 11vh;
  }

  p{
    font-size: 2rem;
    font-family: 'serifgothic-bold';
  }
}

body.dark-mode .introducao-principal {
    background-color: #5e0505;
    color: #ffffff;
}
body.dark-mode .simbolo {
    width: 15vh;
    height: 15vh;
    margin-top: -15px;
    background-image: url('../src/img/simbolo_imperio.png');
}

.gif{
  background-image: url('../src/gif/AnakinGIF.gif');
  width: 540px;
  height: 360px;
  border-radius: 10px;
}

body.dark-mode .gif{
  background-repeat: no-repeat;
  background-image: url('../src/gif/DarthVaderGIF.gif');
}

h2{
  font-family: 'serifgothic-bold';
  font-size: 2rem;
}

.div-frase{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.SoleLua{
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

footer{
  margin: 0;
}

